
body {
	margin-top: 55px;
	background-color: #444444;
}

#header {
	position: fixed;
	top: 5px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	text-align: center;
	display: block;
}

#navbar li {	
	display: inline-block;
	height: 50px;
}

.nav1, .nav2, .nav3 {
	transition: 0.4s;
	-o-transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
}


.nav1:hover {
	color: #00ff00;
	transition: 0.4s;
	-o-transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
}

.nav2:hover {
	color: #ff00ff;
	transition: 0.4s;
	-o-transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
}

.nav3:hover {
	color: #ffff00;
	transition: 0.4s;
	-o-transition: 0.4s;
	-moz-transition: 0.4s;
	-webkit-transition: 0.4s;
}

.navtabs {
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font: 35px helvetica;
	color: #999999;
	text-transform: uppercase;
	display: inline-block;
	text-decoration: none;
}
