body {
	background-color: #dddddd;
	background-image: url(bg-splitshire.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -100px;
}

h1 {
	font-family: "Montserrat";
	font-size: 50px;
	line-height: 90px;
	height: 90px;
	width: 550px;
	border: 5px #ffffff solid;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin: auto;
	margin-top: 200px;
	margin-bottom: 0px;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	color: #ffffff;
	width: 510px;
	text-align: justify;
	margin: auto;
	margin-top: 20px;
	text-transform: lowercase;
	margin-bottom: 500px;
}

#proj {
	width: 600px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

#proj br { height: 6px;}

.proj-item {
	width: 250px; 
	height: 250px;
	margin: 0px 3px;
	background-color: #ffffff;
}